@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
	font-family: 'Open Sans';
}

html, body {
	font-size: 0.9em;
	background-color: #f7f7f7;

}

h1, h2, h3 {
	color: dimgray;
}

.container {
	margin: 0 auto;
	width: 1024px;
	position: relative;
	top: 50px;
}

.form_container {
	margin: 0 auto;
	text-align: center;
	width: 400px;
	position: relative;
/*	top: 50px;*/
}

.input {
	margin-bottom: 10px;
}